# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [1]:
CREATE TABLE Alex.planned_makes(
    ramen_id INT PRIMARY KEY IDENTITY (1,1),
    ramen_recipe_name VARCHAR(50) NOT NULL,
    ramen_veggie_id INT,
    ramen_protein_id INT,
    ramen_price_id FLOAT
)

Add three rows to your table that are your planned makes.

In [6]:
INSERT INTO Alex.planned_makes(ramen_recipe_name, ramen_veggie_id, ramen_protein_id, ramen_price_id)
VALUES('Green Goddess', 2, 4, 10.55);
INSERT INTO Alex.planned_makes(ramen_recipe_name, ramen_veggie_id, ramen_protein_id, ramen_price_id)
VALUES('Double Soup', 3, 2, 14.55);
INSERT INTO Alex.planned_makes(ramen_recipe_name, ramen_veggie_id, ramen_protein_id, ramen_price_id)
VALUES('Hawaiian', 5, 3, 13.55);

: Msg 64, Level 20, State 0, Line 0
A transport-level error has occurred when receiving results from the server. (provider: TCP Provider, error: 0 - The specified network name is no longer available.)

In [5]:
SELECT *
FROM Alex.planned_makes;

ramen_id,ramen_recipe_name,ramen_veggie_id,ramen_protein_id,ramen_price_id
2,Green Goddess,2,4,10.55
3,Green Goddess,2,4,10.55
4,Double Soup,3,2,14.55
5,Hawaiian,5,3,13.55

In [6]:
DELETE FROM Alex.planned_makes
WHERE ramen_id = 2;

In [7]:
SELECT * FROM Alex.planned_makes;

ramen_id,ramen_recipe_name,ramen_veggie_id,ramen_protein_id,ramen_price_id
3,Green Goddess,2,4,10.55
4,Double Soup,3,2,14.55
5,Hawaiian,5,3,13.55

## Update a Row

Change different values in one of your three rows.

In [8]:
UPDATE Alex.planned_makes
SET ramen_price_id = 15.55
WHERE ramen_recipe_name = 'Double Soup';

## Delete a Row

Delete one of the rows from your table.

In [9]:
DELETE FROM Alex.planned_makes
WHERE ramen_recipe_name = 'Hawaiian';

## Drop the Table

While this has been fun, it is time to drop the table!

In [7]:
DROP TABLE Alex.planned_makes;